main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  
  img {
    width: 500px;
  }
  
  #cta {
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
  }
  
  .highlight {
    color: darkorchid;
    font-weight: bold;
  }
  #plus{
    width:80px;
    height:80px;
    background-image:url("https://openclipart.org/image/75px/svg_to_png/171070/tasto-2-architetto-franc-01-black-border.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
  }
  #minus{
    width:80px;
    height:80px;
    background-image:url("https://openclipart.org/image/75px/svg_to_png/34687/tasto-1-architetto-franc-01.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
  }
  #numberDisplay{
    
      border-radius: 10px;
      border: 2px solid #73AD21;
      padding: 10px; 
      width: 150px;
      height: 20px;  
      font-size: medium;
      text-align: center;
      
    
  }
  